# Data collect

# 1. Basic Data

In [1]:


import pandas as pd
# 팀 데이터는 대학팀들을 구분할 수 있는 4자리의 ID, 시즌 처음 년도, 마지막 년도 
Team = pd.read_csv('input/MTeams.csv') 
Team.head()

   TeamID     TeamName  FirstD1Season  LastD1Season
0    1101  Abilene Chr           2014          2021
1    1102    Air Force           1985          2021
2    1103        Akron           1985          2021
3    1104      Alabama           1985          2021
4    1105  Alabama A&M           2000          2021

In [2]:
Team.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371 entries, 0 to 370
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TeamID         371 non-null    int64
 1   TeamName       371 non-null    object
 2   FirstD1Season  371 non-null    int64
 3   LastD1Season   371 non-null    int64
dtypes: int64(3), object(1)
memory usage: 11.7+ KB

In [4]:
Team.shape

(371, 4)

In [7]:
Seasons = pd.read_csv('input/MSeasons.csv')  # 현재 시즌은 2021년으로 계산되며 
Seasons.head()

   Season     DayZero RegionW    RegionX    RegionY    RegionZ
0    1985  10/29/1984    East       West    Midwest  Southeast
1    1986  10/28/1985    East    Midwest  Southeast       West
2    1987  10/27/1986    East  Southeast    Midwest       West
3    1988   11/2/1987    East    Midwest  Southeast       West
4    1989  10/31/1988    East       West    Midwest  Southeast

In [8]:
Seasons.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Season   37 non-null     int64
 1   DayZero  37 non-null     object
 2   RegionW  37 non-null     object
 3   RegionX  37 non-null     object
 4   RegionY  37 non-null     object
 5   RegionZ  37 non-null     object
dtypes: int64(1), object(5)
memory usage: 1.9+ KB

In [9]:
NCAATourneySeeds = pd.read_csv('input/MNCAATourneySeeds.csv')  # 현재 시즌은 2021년으로 계산되며 
NCAATourneySeeds.head()

   Season Seed  TeamID
0    1985  W01    1207
1    1985  W02    1210
2    1985  W03    1228
3    1985  W04    1260
4    1985  W05    1374

In [10]:
NCAATourneySeeds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2286 entries, 0 to 2285
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Season  2286 non-null   int64
 1   Seed    2286 non-null   object
 2   TeamID  2286 non-null   int64
dtypes: int64(2), object(1)
memory usage: 53.7+ KB

In [11]:
RegularSeasonCompactResults = pd.read_csv('input/MRegularSeasonCompactResults.csv')  # 현재 시즌은 2021년으로 계산되며 
RegularSeasonCompactResults.head()

   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0    1985      20     1228      81     1328      64    N      0
1    1985      25     1106      77     1354      70    H      0
2    1985      25     1112      63     1223      56    H      0
3    1985      25     1165      70     1432      54    H      0
4    1985      25     1192      86     1447      74    H      0

In [12]:
RegularSeasonCompactResults.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166880 entries, 0 to 166879
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   Season   166880 non-null  int64
 1   DayNum   166880 non-null  int64
 2   WTeamID  166880 non-null  int64
 3   WScore   166880 non-null  int64
 4   LTeamID  166880 non-null  int64
 5   LScore   166880 non-null  int64
 6   WLoc     166880 non-null  object
 7   NumOT    166880 non-null  int64
dtypes: int64(7), object(1)
memory usage: 10.2+ MB

In [13]:
NCAATourneyCompactResults = pd.read_csv('input/MNCAATourneyCompactResults.csv')  # 현재 시즌은 2021년으로 계산되며 
NCAATourneyCompactResults.head()

   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0    1985     136     1116      63     1234      54    N      0
1    1985     136     1120      59     1345      58    N      0
2    1985     136     1207      68     1250      43    N      0
3    1985     136     1229      58     1425      55    N      0
4    1985     136     1242      49     1325      38    N      0

In [14]:
NCAATourneyCompactResults.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2251 entries, 0 to 2250
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Season   2251 non-null   int64
 1   DayNum   2251 non-null   int64
 2   WTeamID  2251 non-null   int64
 3   WScore   2251 non-null   int64
 4   LTeamID  2251 non-null   int64
 5   LScore   2251 non-null   int64
 6   WLoc     2251 non-null   object
 7   NumOT    2251 non-null   int64
dtypes: int64(7), object(1)
memory usage: 140.8+ KB

In [15]:
SampleSubmissionStage1 = pd.read_csv('input/MSampleSubmissionStage1.csv')  # 현재 시즌은 2021년으로 계산되며 
SampleSubmissionStage1.head()

               ID  Pred
0  2015_1107_1112   0.5
1  2015_1107_1116   0.5
2  2015_1107_1124   0.5
3  2015_1107_1125   0.5
4  2015_1107_1129   0.5

In [16]:
SampleSubmissionStage1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11390 entries, 0 to 11389
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      11390 non-null  object
 1   Pred    11390 non-null  float64
dtypes: float64(1), object(1)
memory usage: 178.1+ KB

# 2. Team Box Scores

In [23]:
RegularSeasonDetailedResults = pd.read_csv('input/MRegularSeasonDetailedResults.csv')  # 현재 시즌은 2021년으로 계산되며 
RegularSeasonDetailedResults.head()

   Season  DayNum  WTeamID  WScore  LTeamID  ...  LAst LTO  LStl  LBlk  LPF
0    2003      10     1104      68     1328  ...     8  18     9     2   20
1    2003      10     1272      70     1393  ...     7  12     8     6   16
2    2003      11     1266      73     1437  ...     9  12     2     5   23
3    2003      11     1296      56     1457  ...     9  19     4     3   23
4    2003      11     1400      77     1208  ...    12  10     7     1   14

[5 rows x 34 columns]

In [18]:
RegularSeasonDetailedResults.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92832 entries, 0 to 92831
Data columns (total 34 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Season   92832 non-null  int64
 1   DayNum   92832 non-null  int64
 2   WTeamID  92832 non-null  int64
 3   WScore   92832 non-null  int64
 4   LTeamID  92832 non-null  int64
 5   LScore   92832 non-null  int64
 6   WLoc     92832 non-null  object
 7   NumOT    92832 non-null  int64
 8   WFGM     92832 non-null  int64
 9   WFGA     92832 non-null  int64
 10  WFGM3    92832 non-null  int64
 11  WFGA3    92832 non-null  int64
 12  WFTM     92832 non-null  int64
 13  WFTA     92832 non-null  int64
 14  WOR      92832 non-null  int64
 15  WDR      92832 non-null  int64
 16  WAst     92832 non-null  int64
 17  WTO      92832 non-null  int64
 18  WStl     92832 non-null  int64
 19  WBlk     92832 non-null  int64
 20  WPF      92832 non-null  int64
 21  LFGM     92832 non-null  int64
 22  LFGA     92832 non-null  int64
 23  LFGM3    92832 non-null  int64
 24  LFGA3    92832 non-null  int64
 25  LFTM     92832 non-null  int64
 26  LFTA     92832 non-null  int64
 27  LOR      92832 non-null  int64
 28  LDR      92832 non-null  int64
 29  LAst     92832 non-null  int64
 30  LTO      92832 non-null  int64
 31  LStl     92832 non-null  int64
 32  LBlk     92832 non-null  int64
 33  LPF      92832 non-null  int64
dtypes: int64(33), object(1)
memory usage: 24.1+ MB

In [24]:
NCAATourneyDetailedResults = pd.read_csv('input/MNCAATourneyDetailedResults.csv')  # 현재 시즌은 2021년으로 계산되며 
NCAATourneyDetailedResults.head()

   Season  DayNum  WTeamID  WScore  LTeamID  ...  LAst LTO  LStl  LBlk  LPF
0    2003     134     1421      92     1411  ...    16  15     5     0   22
1    2003     136     1112      80     1436  ...    12  17    10     3   15
2    2003     136     1113      84     1272  ...    11  12     2     5   18
3    2003     136     1141      79     1166  ...    20  21     6     6   21
4    2003     136     1143      76     1301  ...    16  14     5     8   19

[5 rows x 34 columns]

In [25]:
NCAATourneyDetailedResults.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 34 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Season   1115 non-null   int64
 1   DayNum   1115 non-null   int64
 2   WTeamID  1115 non-null   int64
 3   WScore   1115 non-null   int64
 4   LTeamID  1115 non-null   int64
 5   LScore   1115 non-null   int64
 6   WLoc     1115 non-null   object
 7   NumOT    1115 non-null   int64
 8   WFGM     1115 non-null   int64
 9   WFGA     1115 non-null   int64
 10  WFGM3    1115 non-null   int64
 11  WFGA3    1115 non-null   int64
 12  WFTM     1115 non-null   int64
 13  WFTA     1115 non-null   int64
 14  WOR      1115 non-null   int64
 15  WDR      1115 non-null   int64
 16  WAst     1115 non-null   int64
 17  WTO      1115 non-null   int64
 18  WStl     1115 non-null   int64
 19  WBlk     1115 non-null   int64
 20  WPF      1115 non-null   int64
 21  LFGM     1115 non-null   int64
 22  LFGA     1115 non-null   int64
 23  LFGM3    1115 non-null   int64
 24  LFGA3    1115 non-null   int64
 25  LFTM     1115 non-null   int64
 26  LFTA     1115 non-null   int64
 27  LOR      1115 non-null   int64
 28  LDR      1115 non-null   int64
 29  LAst     1115 non-null   int64
 30  LTO      1115 non-null   int64
 31  LStl     1115 non-null   int64
 32  LBlk     1115 non-null   int64
 33  LPF      1115 non-null   int64
dtypes: int64(33), object(1)
memory usage: 296.3+ KB

# 3. Geography Data

In [26]:
Cities = pd.read_csv('input/Cities.csv')  # 현재 시즌은 2021년으로 계산되며 
Cities.head()

   CityID         City State
0    4001      Abilene    TX
1    4002        Akron    OH
2    4003       Albany    NY
3    4004  Albuquerque    NM
4    4005    Allentown    PA

In [27]:
Cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 453 entries, 0 to 452
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CityID  453 non-null    int64
 1   City    453 non-null    object
 2   State   453 non-null    object
dtypes: int64(1), object(2)
memory usage: 10.7+ KB

In [28]:
GameCities = pd.read_csv('input/MGameCities.csv')  # 현재 시즌은 2021년으로 계산되며 
GameCities.head()

   Season  DayNum  WTeamID  LTeamID   CRType  CityID
0    2010       7     1143     1293  Regular    4027
1    2010       7     1314     1198  Regular    4061
2    2010       7     1326     1108  Regular    4080
3    2010       7     1393     1107  Regular    4340
4    2010       9     1143     1178  Regular    4027

In [29]:
GameCities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60166 entries, 0 to 60165
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Season   60166 non-null  int64
 1   DayNum   60166 non-null  int64
 2   WTeamID  60166 non-null  int64
 3   LTeamID  60166 non-null  int64
 4   CRType   60166 non-null  object
 5   CityID   60166 non-null  int64
dtypes: int64(5), object(1)
memory usage: 2.8+ MB

# 4. Public Rankings

In [30]:
MasseyOrdinals = pd.read_csv('input/MMasseyOrdinals.csv')  # 현재 시즌은 2021년으로 계산되며 
MasseyOrdinals.head()

   Season  RankingDayNum SystemName  TeamID  OrdinalRank
0    2003             35        SEL    1102          159
1    2003             35        SEL    1103          229
2    2003             35        SEL    1104           12
3    2003             35        SEL    1105          314
4    2003             35        SEL    1106          260

In [31]:
MasseyOrdinals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4120886 entries, 0 to 4120885
Data columns (total 5 columns):
 #   Column         Dtype
---  ------         -----
 0   Season         int64
 1   RankingDayNum  int64
 2   SystemName     object
 3   TeamID         int64
 4   OrdinalRank    int64
dtypes: int64(4), object(1)
memory usage: 157.2+ MB

# 5. Supplements(보조자료)

In [33]:
TeamCoaches = pd.read_csv('input/MTeamCoaches.csv')  # 현재 시즌은 2021년으로 계산되며 
TeamCoaches.head()

   Season  TeamID  FirstDayNum  LastDayNum       CoachName
0    1985    1102            0         154   reggie_minton
1    1985    1103            0         154     bob_huggins
2    1985    1104            0         154  wimp_sanderson
3    1985    1106            0         154    james_oliver
4    1985    1108            0         154   davey_whitney

In [34]:
Conferences = pd.read_csv('input/Conferences.csv')  # 현재 시즌은 2021년으로 계산되며 
Conferences.head()

  ConfAbbrev                   Description
0      a_sun       Atlantic Sun Conference
1      a_ten        Atlantic 10 Conference
2        aac  American Athletic Conference
3        acc     Atlantic Coast Conference
4        aec       America East Conference

In [35]:
MasseyOrdinals = pd.read_csv('input/MMasseyOrdinals.csv')  # 현재 시즌은 2021년으로 계산되며 
MasseyOrdinals.head()

   Season  RankingDayNum SystemName  TeamID  OrdinalRank
0    2003             35        SEL    1102          159
1    2003             35        SEL    1103          229
2    2003             35        SEL    1104           12
3    2003             35        SEL    1105          314
4    2003             35        SEL    1106          260

In [36]:
TeamConferences = pd.read_csv('input/MTeamConferences.csv')  # 현재 시즌은 2021년으로 계산되며 
TeamConferences.head()

   Season  TeamID ConfAbbrev
0    1985    1102        wac
1    1985    1103        ovc
2    1985    1104        sec
3    1985    1106       swac
4    1985    1108       swac

In [37]:
ConferenceTourneyGames = pd.read_csv('input/MConferenceTourneyGames.csv')  # 현재 시즌은 2021년으로 계산되며 
ConferenceTourneyGames.head()

   Season ConfAbbrev  DayNum  WTeamID  LTeamID
0    2001      a_sun     121     1194     1144
1    2001      a_sun     121     1416     1240
2    2001      a_sun     122     1209     1194
3    2001      a_sun     122     1359     1239
4    2001      a_sun     122     1391     1273

In [38]:
SecondaryTourneyTeams = pd.read_csv('input/MSecondaryTourneyTeams.csv')  # 현재 시즌은 2021년으로 계산되며 
SecondaryTourneyTeams.head()

   Season SecondaryTourney  TeamID
0    1985              NIT    1108
1    1985              NIT    1133
2    1985              NIT    1139
3    1985              NIT    1145
4    1985              NIT    1151

In [39]:
SecondaryTourneyCompactResults = pd.read_csv('input/MSecondaryTourneyCompactResults.csv')  # 현재 시즌은 2021년으로 계산되며 
SecondaryTourneyCompactResults.head()

   Season  DayNum  WTeamID  WScore  ...  LScore  WLoc NumOT  SecondaryTourney
0    1985     136     1151      67  ...      65     H     0               NIT
1    1985     136     1153      77  ...      61     H     0               NIT
2    1985     136     1201      79  ...      76     H     0               NIT
3    1985     136     1231      79  ...      57     H     0               NIT
4    1985     136     1249      78  ...      71     H     0               NIT

[5 rows x 9 columns]

In [40]:
TeamSpellings = pd.read_csv('input/MTeamSpellings.csv')  # 현재 시즌은 2021년으로 계산되며 
TeamSpellings.head()

     TeamNameSpelling  TeamID
0    a&m-corpus chris    1394
1  a&m-corpus christi    1394
2         abilene chr    1101
3   abilene christian    1101
4   abilene-christian    1101

In [41]:
NCAATourneySlots = pd.read_csv('input/MNCAATourneySlots.csv')  # 현재 시즌은 2021년으로 계산되며 
NCAATourneySlots.head()

   Season  Slot StrongSeed WeakSeed
0    1985  R1W1        W01      W16
1    1985  R1W2        W02      W15
2    1985  R1W3        W03      W14
3    1985  R1W4        W04      W13
4    1985  R1W5        W05      W12

In [42]:
NCAATourneySeedRoundSlots = pd.read_csv('input/MNCAATourneySeedRoundSlots.csv')  # 현재 시즌은 2021년으로 계산되며 
NCAATourneySeedRoundSlots.head()

  Seed  GameRound GameSlot  EarlyDayNum  LateDayNum
0  W01          1     R1W1          136         137
1  W01          2     R2W1          138         139
2  W01          3     R3W1          143         144
3  W01          4     R4W1          145         146
4  W01          5     R5WX          152         152